*{
    margin: 0;
    padding: 0;
    font-family:"Roboto Mono", monospace;
}

header {
    height: 80px;
    top: 0;
    width: 100%;
    background-color:rgb(97, 204, 203) ;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    a {
        text-decoration: none;
        font-weight: bold;
        color: black;
    }
}

.navbar-gauche{
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-droite{
    display: flex;
    gap: 20px;
    margin-right: 25px;
}













































































































/* PAGES FONCTIONNALITES */
.fonctionnalites-titre{
    text-align: center;
    
}
.fonctionnalites-texte p{
    margin: 5px;
    border: solid 1px black;
    padding: 15px;
}
.fonctionnalites-conclusion{
    color: green;
    font-weight: bolder;
}
.fonctionnalites-dropdown{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
    min-width: 150px;
    top: 100;
    background-color: white;
    position: absolute;
    box-shadow: black;       
}
.nav-fonc:hover .fonctionnalites-dropdown{
    display: block;       
}
.fonctionnalites-dropdown li:hover{
    text-decoration: none;
    /* opacity: 70%; */
    background-color: gray;
    cursor: pointer;
}

footer {   
    height: 80px;
    width: 100%;
    background-color: rgb(97, 204, 203) ;

    h2 {
        margin: 25px;
        position: absolute;
        right: 0;
        
    }

    a {
        text-decoration: none;
        font-weight: bold;
        color: black;
    }

}