* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
}

header {
  height: 80px;
  width: 100%;
  background: linear-gradient(0.25turn, rgb(78, 205, 196), rgb(41, 47, 54));
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 0, 0);
  }

  i {
    color: #ffffff;
  }
}

.navbar-gauche {
    display: flex;
    align-items: center;
    gap: 20px;
}
.navbar-droite {
    display: flex;
    align-items: center;
    margin-right: 10px;
    gap: 5px;
}

.navbar {
  display: flex;
  gap: 20px;
}


html {
  background-color: #F7FFF7;
}

footer {
  height: 80px;
  width: 100%;
  background-color: #292F36;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

/*
Notification
*/
#Notification-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#Notification{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgb(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    padding: 15px;
    position: absolute;
    z-index: 1;
    
}
.hidden{
    visibility: hidden;
}

.show {
    visibility: unset;
}
.head-notif{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 300px;
    h1{
        margin: 5px;
    }

}
.body-notif{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    gap: 10px;

    .notif{
        height: fit-content;
        padding: 15px;
        border: grey 1px solid;
        border-radius: 5px;
    }

}
/*
Notification end
*/




a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(255, 255, 255);
  
}


.tache-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  
}

.tache-status {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  padding: 20px;
  margin-top: 34px;
}

.btn-tache {
  margin: 20px;
}

.indicateur-status {
  display: flex;
  gap: 20px;
}

.indicateur-status span {
  display: flex;
  align-items: center;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.vert {
  background-color: green;
}

.orange {
  background-color: orange;
}

.bleu {
  background-color: blue;
}


.ligne {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


/* camembert */

.graph-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-graph {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  width: 500px;
  height: 400px;
  box-shadow: 0 4px 8px black;

}


.card-graph:hover {
  display: flex;
  flex-direction: column;
  opacity: 70%;
  cursor: pointer;
}

.card-graph-body {
  display: flex;
  align-items: center;
  margin-top: 70px;
  justify-content: space-evenly;
  gap: 50px;
}


#chart {
  /* CERCLE*/

  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #303d48;


  /* Segment*/
  background: conic-gradient(orange 0deg 80deg,
      blue 80deg 190deg,
      green 190deg 360deg);
}

.texte-graph {
  display: flex;
  flex-direction: column;
  gap: 5px;

  div {
    display: flex;
  }

}

/* fin camembert */

.tache-recente {
  border-radius: 10px;
  padding: 20px;
  margin: 80px;
  text-align: center;
}



.ligne-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
}

.card-compte-admin span {
  display: flex;
  align-items: center;
}

.dot-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 30px;
}

.tache-column h3 {
  margin-left: 10px;
}

button {
  width: 150px;
  padding: 5px;
  color: #ffffff;
  background-color: #292f36;
  border-radius: 8px;
  align-items: center;
  cursor: pointer;
  border: none;
}

button:hover {
  opacity: 70%;
}

p {
  text-align: center;
}

.footer #h2 {
  display: flex;
  justify-content: space-around;
}

.card-compte-admin {
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  width: 300px;
  height: 100px;
  box-shadow: 0 4px 8px black;
  cursor: pointer;
}

.card-compte-admin:hover {
  opacity: 70%;
}

.card-column {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/*  */

.gestion-compte-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}



 

 
  #chart {
    /* CERCLE*/
  
    width: 150px;
    height: 150px;
   
  

}
/* Styles de base */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
}

header {
  height: 80px;
  width: 100%;
  background: linear-gradient(0.25turn, rgb(78, 205, 196), rgb(41, 47, 54));
}





html {
  background-color: #F7FFF7;
}


/* Conteneurs de tâches */
.tache-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  .tache-container {
  flex-wrap: wrap;
}

}

.tache-status {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  padding: 20px;
  margin-top: 34px;
}

.btn-tache {
  margin: 20px;
}


.indicateur-status {
  display: flex;
  gap: 20px;
}

.indicateur-status span {
  display: flex;
  align-items: center;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.vert { background-color: green; }
.orange { background-color: orange; }
.bleu { background-color: blue; }

.ligne {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

    
    .dot{
      width: 10px;
      height: 10px;
      margin: 10px;
    

    }
  




      
    
    
  
  
@media  screen and (max-width:600px) {
  .tache-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
  }
  .graph-card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .card-graph {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    width: 300px;
    height: 300px;
    box-shadow: 0 4px 8px black;

    ul li{
      font-size: 12px;
      
    }
    .dot{
      width: 10px;
      height: 10px;
      margin: 10px;
    

    }
    .gestion-compte-container {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  
    .compte-container-card {
      flex-direction: column;
      align-items: center;
    }
    .card-compte-admin {
      flex-direction: column;
      max-width: 300px;
      font-size: 12px;
    }
  }  
  }


 

  .card-graph {
    width: 100%;
    height: unset;
  }

  .card-compte-admin {
    margin: unset;
    margin-top: 2%;
    width: 90%;
  } 
  .graph-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px; 
  }
  
 
  
  .card-graph {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    width: 500px;
    height: 400px;
    box-shadow: 0 4px 8px black;
  }

