* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
}

header {
  height: 80px;
  width: 100%;
  background: linear-gradient(0.25turn, rgb(78, 205, 196), rgb(41, 47, 54));
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
      text-decoration: none;
      font-weight: bold;
      color: rgb(0, 0, 0);
  }

  i {
      color: #ffffff;
  }
}

.navbar-gauche {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-droite {
  display: flex;
  gap: 30px;
  margin-right: 25px;

}

.navbar {
  display: flex;
  gap: 20px;
}

html {
  background-color: #F7FFF7;
}

footer {
  height: 80px;
  width: 100%;
  background-color: #292F36;

  h2 {
      margin: 25px;
      position: absolute;
      right: 0;

  }

  a {
      text-decoration: none;
      font-weight: bold;
      color: rgb(255, 255, 255);
  }

}

/* Page index admin */



.row{
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.card{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.column{
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 50px;
  border: 1px solid black;
  padding: 40px;
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 50px;
  box-shadow: 0 4px 8px black;
}

.index-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.column-admin{
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 50px;
  border: 1px solid black;
  padding: 40px;
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 50px;
  width: 400px;
  box-shadow: 0 4px 8px black;
}

button {
  width: 150px;
  padding: 5px;
  color: #ffffff;
  background-color: #292f36;
  border-radius: 8px;
  align-items: center;
  cursor: pointer;
  border: none;
}

button:hover {
  opacity: 70%;
}

p{
  text-align: center;
}

#main-adm {
  display: flex;
  flex-direction: column;
  margin: 2%;
}



.index-adm-head h2{
  text-align: center;
}

/* page gestion compte admin */

.compte-container{

  text-align: center;
}

.compte-header{
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.compte-header-title{
  display: flex;
  justify-content: center;
  align-items: center;
}

h2{
  margin-top: 20px;
}

.indicateur-status{
  display: flex;
  gap: 20px;
}

.indicateur-status span{
  display: flex;
  align-items: center;
}

.dot{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.vert{
  background-color: green;
}

.jaune{
  background-color: yellow;
}

.rouge{
  background-color: red;
}

.gestion-compte-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-compte-admin{
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  /* width: 300px; */
  /* height: 100px; */
  box-shadow: 0 4px 8px black;
  background-color: white;
  cursor: pointer;
}

.card-compte-admin:hover{
  opacity: 70%;
}

.card-column{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.btn-compte{
  display: flex;
  justify-content: flex-end;
  margin-right: 90px;

}

.color1{
  width: 20px;
  height: 20px;
  margin: 20px;
  border-radius: 50%;
  background-color: green;
}

.color2{
  width: 20px;
  height: 20px;
  margin: 20px;
  border-radius: 50%;
  background-color: yellow;
}

.color3{
  width: 20px;
  height: 20px;
  margin: 20px;
  border-radius: 50%;
  background-color: red;
}

.ligne{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card-compte-admin span{
  display: flex;
  align-items: center;
}

.dot-btn{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 30px;
}

/* page gestion commentaire admin */

.btn-commentaire{
  display: flex;
  justify-content: space-around;
}

/* page gestion espace equipe admin */

.orange{
  background-color: orange;
}

.bleu{
  background-color: blue;
}


@media screen and (max-width: 800px){
  .navbar-gauche {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 8px;
  }

  .navbar-droite {
    display: flex;
    gap: 5px;
    margin-right: 5px;
    font-size: 8px;
  }

  footer {
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #292F36;

    h2 {
        margin: 25px;
        position: absolute;
        right: 0;
        font-size: 12px;

    }
    .p_conf {
      margin: 25px;
      position: absolute;
      left: 0;
    }

    a {
        text-decoration: none;
        font-weight: bold;
        color: rgb(255, 255, 255);
    }
  }

  /* compte et card */

  ul{
    font-size: 10px;
  }

  main{
    font-size: 8px;
  }

  .dot-btn{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 10px;
  }

  .dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
  }

  .gestion-compte-container{
    display: flex;
    align-items: center;
    /* flex-direction: column; */
  }

  .compte-header{
    width: 100%;
  }

  .card-compte-admin{
    width: 100%;
    margin: 5px;
    padding: 5px
  }


}

@media screen and (max-width: 420px){
  *{
    padding: 0;
  }
  .ligne{
    display: block
  }

  .compte-header{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .card-compte-admin{
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    width: 300px;
    height: 100px;
    box-shadow: 0 4px 8px black;
    background-color: white;
    cursor: pointer;
  }

  main{
    font-size: 20px;
  }

  .dot-btn{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 10px;
  }

  .dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
  }

  .card-column{
    display: block;
    flex-direction: unset;
    gap: 0;
  }

  .gestion-compte-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
/* index admin */

@media screen and (max-width: 900px){
  .index-container{
    display: block;
    height: 100vh;
  }
}

@media screen and (max-width: 420px){}
.row{
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.card{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.column{
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 50px;
  border: 1px solid black;
  padding: 40px;
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 50px;
  box-shadow: 0 4px 8px black;
}

.index-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.column-admin{
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 50px;
  border: 1px solid black;
  padding: 40px;
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 50px;
  width: 400px;
  box-shadow: 0 4px 8px black;
}

button {
  width: 150px;
  padding: 5px;
  color: #ffffff;
  background-color: #292f36;
  border-radius: 8px;
  align-items: center;
  cursor: pointer;
  border: none;
}

button:hover {
  opacity: 70%;
}

p{
  text-align: center;
}

#main-adm {
  display: flex;
  flex-direction: column;
  margin: 2%;
}



.index-adm-head h2{
  text-align: center;
}
